@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    caret-color: #318768;
    transition: all 200ms ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #97FFD3; 
    border-radius: 10px;

}

.doodle {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
   
body {
    background-color: #E7FFF5;
}
nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #97FFD3;
    align-items: center;
    padding: 0 5rem;
}
nav img {
    display: inline-flex;
    width: 40px;
    height: 40px;
}

nav span {
    display: inline-flex;
    padding: 0 1rem;
    font-size: 22px;
}

nav .nav-btn {
    position: absolute;
    right: 5rem;
    cursor: pointer;
    font-size: 15px;
    width: 8rem;
    height: 2.5rem;
    background-color: #52FFB6;
    border: 1px solid #52FFB6;
    border-radius: 5px;
    outline: none;
}
main {
    position: relative;
    padding: 3rem 5rem;
    display: flex;
}

.forms{
    width: 25rem;
    height: 35rem;
    background-color: #E4FFED;
    border: 2px solid #59FFB9;
    border-radius: 9px;
    padding: 2rem 3rem;
}

.forms-title {
    width: 18rem;
    padding: 0.5rem 1rem;
    background: #FFFFFF;
    border: 2px solid #59FFB9;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: border 200ms ease;

}

.forms-title::placeholder,.forms-task::placeholder {
    color: #C5C5C5;
}

.forms-task {
    width: 18rem;
    height: 15rem;
    padding: 0.5rem 1rem;
    background: #FFFFFF;
    border: 2px solid #59FFB9;
    border-radius: 5px;
    resize: none;
    margin-bottom: 1rem;
    transition: border 200ms ease;
}

.forms-btn {
    cursor: pointer;
    font-size: 20px;
    width: 18rem;
    height: 3rem;
    background-color: #97FFD3;
    border: 1px solid #97FFD3;
    border-radius: 9px;
    outline: none;
    transition: background-color 200ms ease;
}

.forms-btn:hover {
    background-color: #62F8B9;
}

.validate-warning {
    display: none;
    color: #6640FF;
    /* transition: opacity,display 1s ease-in-out; */
    animation: validate 1500ms cubic-bezier(0,1.24,1,.81);
    margin-bottom: 1rem;
}

@keyframes validate {
    0% {
        display: block;
        opacity: 0.7;
        transform: translateY(-0.5rem);
    }
    99% {
        opacity: 1;
        transform: translateY(0);

    }100% {
        display: none;
        opacity: 0;
        transform: translateY(-0.5rem);
    }
}
.validate-warning-field {
    border: 2px solid #6640FF;
}

.lists {
    width: 75rem;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-right: 1.5rem;
}

.list {
    position: relative;
    width: 25rem;
    height: 25rem;
    background: #F7F7F7;
    box-shadow: 0px 0px 15px #59FFB9;
    border-radius: 9px;
    padding: 1rem 1.75rem;
    margin: 1.2rem 0;
}


.task {
    width: 20.5rem;
    height: 18rem;
    font-size: 20px;
    padding: 0.5rem 0 2rem 0;
    color: #318768;
    overflow-y: scroll;
}

.task::-webkit-scrollbar {
    width: 3px;
}

.edit,.delete {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.edit:hover,.delete:hover {
    transform: translateY(-0.25rem);
}

.delete {
    bottom: 1rem;
    right: 1rem;
}

.edit {
    bottom: 1rem;
    right: 3.5rem;
}

.edity {
    display: none;
}

.fade {
    animation: fade 500ms ease reverse;
}

@keyframes fade {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}
@media only screen and (max-width:1064px) {
    .list {
        width: 18rem;
        height: 18rem;
    }

    .lists {
        overflow-x: hidden;
    }

    .task {
        width: 15rem;
    }
    
}

.adding,.viewing {
    display: none;
    cursor: pointer;
    font-size: 14px;
    width: 5rem;
    height: 2rem;
    background-color: #61E4AD;
    border: 1px solid #61E4AD;
    border-radius: 5px;
    outline: none;
    margin-right: 15px;
}
@media only screen and (max-width: 900px) {
    .adding,.viewing {
        display: block;
    }

    .forms {
        display: none;
        margin-left: 2.5rem;
    }

    .task {
        width: 15rem;
        height: 12.5rem;
    }
    nav {
        padding: 0 1rem;
    }
    main {
    padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 400px) {

    .forms {
        width: 20rem;
        margin:0;
    }
    .forms-btn,.forms-task,.forms-title {
        width: 13rem;
    }
    .adding,.viewing {
        font-size: 10px;
    }
    main {
        padding: 1rem 1rem;
    }
    .lists {
    margin:0;

    }
}
